@model VehicleMaintenanceRequestDetailsViewModel

@{
    ViewData["Title"] = "EditRequestMaintenance";
}
<link rel="stylesheet" type="text/css" href="~/app-assets/css/plugins/forms/wizard.css" defer>
<link href="~/lib/select2/css/select2.css" rel="stylesheet" defer />

<h1>Edit Request Maintenance Form</h1>


<div>

    <!-- Form wizard with icon tabs section start -->
    <section id="icon-tabs">

        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-content collapse show">
                        <div class="card-body">
                            <form id="myForm" class="mysteps wizard-circle">
                                <!-- Step 1 -->
                                <h6><i class="step-icon la la-home"></i> Step 1</h6>
                                <fieldset>
                                    <input id="RequestId" value="@ViewBag.EditRequestListId" hidden />
                                    <div class="form-group">
                                        <label>Vehicle Registration Number</label>
                                        <div>
                                            <select style="width: 60% !important" asp-items="@Model.AllVehicles" asp-for="VehicleId" id="select2" class=" form-control">

                                                <option asp-for="VehicleId" selected="selected">Select Vehicle</option>

                                            </select>
                                        </div>
                                        
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="projectinput5">Maintained By</label>
                                                <input type="text" class="form-control" asp-for="MaintainedBy" placeholder="Maintained By" readonly>

                                            </div>
                                        </div>


                                    </div>
                                    <div class="form-group">
                                        <label for="projectinput8">Maintenance Description</label>
                                        <textarea id="projectinput8" asp-for="MaintenanceDescription" rows="5" class="form-control" name="comment" placeholder="About Project"></textarea>
                                    </div>
                                </fieldset>
                                <!-- Step 2 -->
                                <h6><i class="step-icon la la-pencil"></i>Step 2</h6>
                                <fieldset>
                                    <div class="repeater-default">
                                        <div data-repeater-list id="List">

                                            @if (Model.spareParts.Count >= 1)
                                            {
                                                @for (int i = 0; i < Model.spareParts.Count; i++)
                                                {
                                                    <div data-repeater-item>

                                                        <div class="form row">
                                                            <div class="form-group mb-1 col-sm-12 col-md-2">
                                                                <label>Spare Part</label>
                                                                <br>
                                                                <input class="form-control" data-id="id" asp-for="@Model.spareParts[i].SparePartName" placeholder="Name Of Spare part">
                                                                <span asp-validation-for="@Model.spareParts[i].SparePartName"></span>

                                                            </div>
                                                            <div class="form-group mb-1 col-sm-12 col-md-2">
                                                                <label for="pass">Quantity</label>
                                                                <br>
                                                                <input type="number" data-id="id" asp-for="@Model.spareParts[i].Quantity" placeholder="Quantity" class="form-control" min="1">
                                                                <span asp-validation-for="@Model.spareParts[i].Quantity"></span>

                                                            </div>
                                                            <div class="form-group mb-1 col-sm-12 col-md-2">
                                                                <label for="pass">Amount</label>
                                                                <br>
                                                                <input type="number" data-id="id" asp-for="@Model.spareParts[i].Amount" class="form-control" placeholder="Enter Amount">
                                                                <span asp-validation-for="@Model.spareParts[i].Amount"></span>

                                                            </div>
                                                            <div class="form-group mb-1 col-sm-12 col-md-2">
                                                                <label for="pass">Request Type</label>
                                                                <br>
                                                                <select class="form-control" asp-for="@Model.spareParts[i].RequestTypeId" data-id="id" asp-items="@ViewBag.Requestitem">
                                                                    <option>select request Type</option>
                                                                </select>
                                                                <span asp-validation-for="@Model.spareParts[i].RequestTypeId"></span>

                                                            </div>
                                                            <div class="form-group col-sm-12 col-md-2 text-center mt-2">
                                                                <button type="button" class="btn btn-danger" data-repeater-delete> <i class="ft-x"></i> Delete</button>
                                                            </div>
                                                        </div>
                                                        <hr>

                                                    </div>
                                                }

                                            }
                                            else
                                            {
                                                <h3>No spare parts were added</h3>
                                            }

                                        </div>

                                        <div class="form-group overflow-hidden">
                                            <div class="col-12">
                                                <button type="button" data-repeater-create class="btn btn-primary">
                                                    <i class="ft-plus"></i> Add
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </fieldset>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- Form wizard with icon tabs section end -->
</div>





@* Scripts *@
<script src="~/lib/jquery/jquery.min.js"></script>

<!-- BEGIN VENDOR JS-->
<script src="~/app-assets/vendors/js/vendors.min.js" type="text/javascript"></script>
<script src="~/lib/select2/js/select2.js" defer></script>
<!-- BEGIN VENDOR JS-->
<!-- BEGIN PAGE VENDOR JS-->
<script src="~/app-assets/vendors/js/extensions/jquery.steps.min.js" type="text/javascript"></script>

<script src="~/app-assets/vendors/js/forms/repeater/jquery.repeater.min.js"
        type="text/javascript"></script>

<!-- END PAGE VENDOR JS-->
<!-- BEGIN PAGE LEVEL JS-->
<script src="~/app-assets/js/scripts/forms/wizard-steps.js" type="text/javascript"></script>
<script src="~/app-assets/js/scripts/forms/form-repeater.js" type="text/javascript" ></script>

<!-- END PAGE LEVEL JS-->

<script>


    $(document).ready(function () {
        console.log('I work');
        $('#select2').select2();


    })


</script>