@*@model List<VehicleMaintenanceRequestsViewModel>*@
@model RequestVehicleViewModel

@{
    ViewBag.Title = "Request";
}
<link rel="stylesheet" type="text/css" href="~/app-assets/css/core/menu/menu-types/vertical-menu-modern.css">
<link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/tables/datatable/datatables.min.css">

<div>
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-2 breadcrumb-new">
            <h3 class="content-header-title mb-0 d-inline-block font-weight-bold">Maintenance</h3>
        </div>
        <div class="content-header-right col-md-6 col-12">
            <div class="dropdown float-md-right">
                <button class="btn btn-primary dropdown-toggle square btn-glow px-2" id="dropdownBreadcrumbButton"
                        type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Request Maintenance
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownBreadcrumbButton">
                    <a class="dropdown-item" asp-action="SelectVehicleForRoutineMaintenance" asp-controller="Routine"><i class="la la-calendar-check-o"></i> Routine Maintenance </a>
                    <a class="dropdown-item" data-toggle="modal"
                       data-target="#bootstrap"><i class="la la-cart-plus"></i> Request Maintenance</a>
                </div>
                @* Request Maintenance Partial View *@
                <div class="modal fade text-left" id="bootstrap" role="dialog" aria-labelledby="myModalLabel35"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <partial name="_RequestMaintenancePartial">
                    </div>

                </div>
                @* Request Maintenance Partial View *@

            </div>
        </div>
    </div>
    <div class="content-body">
        <section class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-head">
                        <div class="card-header">
                            <h4 class="card-title font-weight-bold">Maintenance Requests List</h4>
                            <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"></i></a>
                        </div>
                    </div>

                    @if (@Model.VehicleMaintenanceRequests.Count >= 1)
                    {
                        <div class="card-content">
                            <div class="card-body">
                                <!-- Invoices List table -->
                                <div class="table-responsive">
                                    <table id="invoices-list" class=" table table-striped table-bordered zero-configuration ">
                                        <thead>
                                            <tr>

                                                <th>Date</th>
                                                <th>Request #</th>
                                                <th>Vehicle No.</th>
                                                <th>Maintained By</th>
                                                <th>Status</th>
                                                <th>Amount</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- PAID -->
                                            @for (int i = 0; i < @Model.VehicleMaintenanceRequests.Count; i++)
                                            {
                                                <tr>

                                                    <td>@Model.VehicleMaintenanceRequests[i].Date</td>
                                                    <td>
                                                        <a class="text-bold-600">
                                                            INV-@Model.VehicleMaintenanceRequests[i].RequestId
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a class="text-bold-600">
                                                            @Model.VehicleMaintenanceRequests[i].RegistrationNumber
                                                        </a>
                                                    </td>
                                                    <td>@Model.VehicleMaintenanceRequests[i].MaintainedBy</td>
                                                    @if (@Model.VehicleMaintenanceRequests[i].Status == "Approved")
                                                    {
                                                        <td>
                                                            <span class="badge badge-default badge-info badge-lg">@Model.VehicleMaintenanceRequests[i].Status</span>
                                                        </td>
                                                    }
                                                    else if (@Model.VehicleMaintenanceRequests[i].Status == "Completed")
                                                    {
                                                        <td>
                                                            <span class="badge badge-success badge-light badge-lg">@Model.VehicleMaintenanceRequests[i].Status</span>
                                                        </td>
                                                    }
                                                    else if (@Model.VehicleMaintenanceRequests[i].Status == "Invalid")
                                                    {
                                                        <td>
                                                            <span class="badge badge-default badge-danger badge-lg">@Model.VehicleMaintenanceRequests[i].Status</span>
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td>
                                                            <span class="badge badge-default badge-primary badge-lg">@Model.VehicleMaintenanceRequests[i].Status</span>
                                                        </td>
                                                    }

                                                    <td>Ghc @Model.VehicleMaintenanceRequests[i].MaintenanceCost</td>
                                                    <td>
                                                        <span class="dropdown">
                                                            <button id="btnSearchDrop2" type="button" data-toggle="dropdown" aria-haspopup="true"
                                                                    aria-expanded="true" class="btn btn-primary dropdown-toggle dropdown-menu-right">
                                                                <i class="ft-settings"></i>
                                                            </button>
                                                            <span aria-labelledby="btnSearchDrop2" class="dropdown-menu mt-1 dropdown-menu-right">
                                                                <a asp-action="RequestSparePartDetails" asp-controller="Request" asp-route-ListId="@Model.VehicleMaintenanceRequests[i].RequestId" class="dropdown-item">
                                                                    <i class="la la-eye"></i> View Request
                                                                </a>

                                                                @if (@Model.VehicleMaintenanceRequests[i].Status == "Completed" || @Model.VehicleMaintenanceRequests[i].Status == "Approved")
                                                                {
                                                                    <!--- do nothing  --->
                                                                }
                                                                else
                                                                {
                                                                    <a asp-action="EditRequestMaintenance" asp-controller="Request" asp-route-RequestId="@Model.VehicleMaintenanceRequests[i].RequestId" class="dropdown-item">
                                                                        <i class="la la-pencil"></i> Edit Request
                                                                    </a>

                                                                    <a id="DeleteButton" data-RequestId="@Model.VehicleMaintenanceRequests[i].RequestId" onclick="ConfirmDeleteForRequestMaintenenance(@Model.VehicleMaintenanceRequests[i].RequestId)" class="dropdown-item">
                                                                        <i class="la la-trash"></i> Delete Request
                                                                    </a>
                                                                }

                                                            </span>
                                                        </span>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>

                                                <th>Date</th>
                                                <th>Request #</th>
                                                <th>Vehicle No.</th>
                                                <th>Maintained By</th>
                                                <th>Status</th>
                                                <th>Amount</th>
                                                <th>Actions</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <!--/ Invoices table -->
                            </div>
                        </div>


                    }
                    else
                    {
                        <div class="card-content">
                            <div class="card-body">
                                <!-- Invoices List table if Empty -->
                                <div class="table-responsive">
                                    <h4>No records Available</h4>
                                </div>
                                <!--/ Invoices table if empty-->
                            </div>
                        </div>
                    }



                </div>
            </div>

            @* ------------For Routine Maintenaces---------------- *@

            <div class="col-12">
                <div class="card">
                    <div class="card-head">
                        <div class="card-header">
                            <h4 class="card-title font-weight-bold">Routine Maintenance List</h4>
                            <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"></i></a>
                        </div>
                    </div>

                    @if (@Model.VehicleRoutineMaintenanceRequest.Count >= 1)
                    {
                        <div class="card-content">
                            <div class="card-body">
                                <!-- Invoices List table -->
                                <div class="table-responsive">
                                    <table id="invoices-list" class=" table table-striped table-bordered zero-configuration ">
                                        <thead>
                                            <tr>

                                                <th>Date</th>
                                                <th>RoutineId</th>
                                                <th>Vehicle No.</th>
                                                <th>Maintained By</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- PAID -->
                                            @for (int i = 0; i < @Model.VehicleRoutineMaintenanceRequest.Count; i++)
                                            {
                                                <tr>

                                                    <td>@Model.VehicleRoutineMaintenanceRequest[i].CreatedOn</td>
                                                    <td>RTN-# @Model.VehicleRoutineMaintenanceRequest[i].VehicleRoutineMaintenanceId</td>
                                                   
                                                    <td>
                                                        <a class="text-bold-600">
                                                            @Model.VehicleRoutineMaintenanceRequest[i].Vehicle.RegistrationNumber
                                                        </a>
                                                    </td>
                                                    <td>@Model.VehicleRoutineMaintenanceRequest[i].CreatedBy</td>
                                                 

                                                    <td>
                                                        <span class="dropdown">
                                                            <button id="btnSearchDrop2" type="button" data-toggle="dropdown" aria-haspopup="true"
                                                                    aria-expanded="true" class="btn btn-primary dropdown-toggle dropdown-menu-right">
                                                                <i class="ft-settings"></i>
                                                            </button>
                                                            <span aria-labelledby="btnSearchDrop2" class="dropdown-menu mt-1 dropdown-menu-right">
                                                                <a asp-action="ViewRoutineMaintenance" asp-controller="Routine" asp-route-RoutineId="@Model.VehicleRoutineMaintenanceRequest[i].VehicleRoutineMaintenanceId" class="dropdown-item">
                                                                    <i class="la la-eye"></i> View Request
                                                                </a>

                                                               
                                                                    <a asp-action="EditRoutineMaintenance" asp-controller="Routine" asp-route-RoutineId="@Model.VehicleRoutineMaintenanceRequest[i].VehicleRoutineMaintenanceId" class="dropdown-item">
                                                                        <i class="la la-pencil"></i> Edit Request
                                                                    </a>

                                                                    <a id="DeleteButton" data-RoutineMaintenanceId="@Model.VehicleMaintenanceRequests[i].RequestId" onclick="ConfirmDeleteForRoutineMaintenance(@Model.VehicleRoutineMaintenanceRequest[i].VehicleRoutineMaintenanceId)" class="dropdown-item">
                                                                        <i class="la la-trash"></i> Delete Request
                                                                    </a>
                                                                

                                                            </span>
                                                        </span>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>

                                                <th>Date</th>
                                                <th>RoutineId</th>
                                                <th>Vehicle No.</th>
                                                <th>Maintained By</th>
                                                <th>Actions</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <!--/ Invoices table -->
                            </div>
                        </div>


                    }
                    else
                    {
                        <div class="card-content">
                            <div class="card-body">
                                <!-- Invoices List table if Empty -->
                                <div class="table-responsive">
                                    <h4>No records Available</h4>
                                </div>
                                <!--/ Invoices table if empty-->
                            </div>
                        </div>
                    }



                </div>
            </div>
        </section>
    </div>
</div>

<script src="~/lib/jquery/jquery.min.js" type="text/javascript"></script>

<script src="~/app-assets/vendors/js/vendors.min.js" type="text/javascript"></script>
<!-- BEGIN VENDOR JS-->
<!-- BEGIN PAGE VENDOR JS-->
<script src="~/app-assets/vendors/js/tables/datatable/datatables.min.js" type="text/javascript" defer></script>
<!-- END PAGE VENDOR JS-->

<script src="~/app-assets/js/scripts/tables/datatables/datatable-basic.js" type="text/javascript" defer></script>
<!-- BEGIN MODERN JS-->
<script src="~/app-assets/js/core/app-menu.js" type="text/javascript" defer></script>
<script src="~/app-assets/js/core/app.js" type="text/javascript" defer></script>
<script src="~/app-assets/js/scripts/customizer.js" type="text/javascript"></script>
<script src="~/app-assets/vendors/js/extensions/sweetalert.min.js" type="text/javascript"></script>
<script src="~/app-assets/js/scripts/extensions/sweet-alerts.js" type="text/javascript"></script>



<script>
    $(document).ready(function () {
        $('#invoices-list').DataTable();

        //$('#DeleteButton').on('click', function () {
        //    console.log("i work")
        //})
    });




    ///////////SWEET ALERT FOR REQUEST MAINTENANCE/////////////

    function ConfirmDeleteForRequestMaintenenance(ev) {

        swal({
            title: "Are you sure?",
            text: "You will not be able to recover this file!",
            icon: "warning",
            buttons: {
                cancel: {
                    text: "No, cancel plx!",
                    value: null,
                    visible: true,
                    className: "",
                    closeModal: false,
                },
                confirm: {
                    text: "Yes, delete it!",
                    value: true,
                    visible: true,
                    className: "",
                    closeModal: false
                }
            }
        })
            .then((isConfirm) => {
                if (isConfirm) {
                    console.log('ajax deleted', ev);
                    $.ajax({
                        url: "/Request/DeleteRequestMaintenance",
                        dataType: 'html',
                        method: 'get',
                        data: { 'RequestId': ev },
                        success: function (res) {
                            console.log('Sucess');
                            swal("Deleted!", "Your imaginary file has been deleted.", "success");
                            window.location.href = "/Request/Index";


                        },
                        error: function (err) {
                            console.log(err, "err");
                            swal("Error!", "We could not access the server.", "error");

                        }
                    });
                } else {
                    swal("Cancelled", "Your file is safe", "error");
                }
            });

    };

    ///////////SWEET ALERT FOR REQUEST MAINTENANCE/////////////

    ///////////SWEET ALERT FOR ROUTINE MAINTENANCE/////////////

    function ConfirmDeleteForRoutineMaintenance(ev) {

        swal({
            title: "Are you sure?",
            text: "You will not be able to recover this file!",
            icon: "warning",
            buttons: {
                cancel: {
                    text: "No, cancel plx!",
                    value: null,
                    visible: true,
                    className: "",
                    closeModal: false,
                },
                confirm: {
                    text: "Yes, delete it!",
                    value: true,
                    visible: true,
                    className: "",
                    closeModal: false
                }
            }
        })
            .then((isConfirm) => {
                if (isConfirm) {
                    console.log('ajax deleted', ev);
                    $.ajax({
                        url: "/Routine/DeleteRoutineMaintenance",
                        dataType: 'html',
                        method: 'get',
                        data: { 'RoutineId': ev },
                        success: function (res) {
                            console.log('Sucess');
                            swal("Deleted!", "Your imaginary file has been deleted.", "success");
                            window.location.href = "/Request/Index";


                        },
                        error: function (err) {
                            console.log(err, "err");
                            swal("Error!", "We could not access the server.", "error");

                        }
                    });
                } else {
                    swal("Cancelled", "Your file is safe", "error");
                }
            });

    };

</script>
