@model VehicleMaintenanceRequestDetailsViewModel

@{
    ViewBag.Title = "Details";

    int Id = (int)ViewData["RequestListId"];
    int SerialNum = 0;

}
<style>
    ul.tags {
        list-style: none;
        padding-left: 0;
        margin: 0 0 3rem 0;
    }

        ul.tags li {
            display: inline-block;
            font-size: 0.9rem;
        }

            ul.tags li a {
                background: rgba(0,0,0,.05);
                color: rgba(0,0,0,.6);
                border-radius: 3px;
                padding: 5px 10px;
            }

                ul.tags li a:hover {
                    background: rgba(0,0,0,.07);
                    text-decoration: none;
                }
</style>

<link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/ui/prism.min.css">
<link href="~/lib/dropzone/min/dropzone.min.css" rel="stylesheet" />
<link href="~/lib/dropzone/min/basic.min.css" rel="stylesheet" />

<div class="content-body">
    <section class="card">
        <div id="invoice-template" class="card-body">
            <!-- Invoice Company Details -->
            <div id="invoice-company-details" class="row">
                <div class="col-md-6 col-sm-12 text-center text-md-left">
                    <div class="media">
                        <img src="~/app-assets/images/logo/bus.png" alt="company logo" style="height:70px;width:70px" class="" />
                        <div class="media-body">
                            <ul class="ml-2 px-0 list-unstyled">
                                <li class="text-bold-800">KNUST TRANSPORT UNIT</li>
                                <li>KUMASI,ASHANTI REGION</li>
                                <li>Ghana</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 text-center text-md-right">
                    <h2>Request Form</h2>
                    <p class="pb-3"># INV-@Id</p>
                    @*<ul class="px-0 list-unstyled">
                    <li>Maintenanance Cost</li>
                    <li class="lead text-bold-800">Ghc @Model.MaintenanceCost</li>
                </ul>*@
                </div>
            </div>
            <!--/ Invoice Company Details -->
            <!-- Invoice Customer Details -->
            <div id="invoice-customer-details" class="row pt-2">
                <div class="col-sm-12 text-center text-md-left">
                    <p class="text-muted">Maintaned By</p>
                </div>
                <div class="col-md-6 col-sm-12 text-center text-md-left">
                    <ul class="px-0 list-unstyled">
                        <li class="text-bold-800">@Model.MaintainedBy</li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-12 text-center text-md-right">
                    <p>
                        <span class="text-muted"> Date :</span> @Model.Date
                    </p>
                    <p>
                        <span class="text-muted">Vehicle Registration Number :</span> @Model.RegistrationNumber
                    </p>
                    <p>
                        <span class="text-muted">Request Status :</span> <h6 class="text-bold-600">@Model.Status</h6>
                    </p>

                </div>
            </div>
            <!--/ Invoice Customer Details -->
            <!-- Invoice Items Details -->
            <div id="invoice-items-details" class="pt-2">
                <div class="row">
                    <div class="table-responsive col-sm-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Item </th>
                                    <th class="text-right">Quantity</th>
                                    <th class="text-right">Unit Amount</th>
                                    <th class="text-right">T. Quantity Amount</th>
                                    <th class="text-right">Service/Tax Name</th>
                                    <th class="text-right">Calculated value</th>
                                    <th class="text-right">Percentages(%)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < @Model.spareParts.Count; i++)
                                {
                                <tr>
                                    <th scope="row">@(++SerialNum) </th>
                                    <td>
                                        <p>@Model.spareParts[i].SparePartName</p>
                                    </td>
                                    <td class="text-right">@Model.spareParts[i].Quantity</td>
                                    <td class="text-right">Ghc @Model.spareParts[i].Amount</td>
                                    @{
                                        var num = @Model.spareParts[i].Quantity * Model.spareParts[i].Amount;
                                        var costpercent = ((double)Model.spareParts[i].RequestChargeValue / 100) * num;
                                    }
                                    <td>@num</td>
                                    <td>@Model.spareParts[i].RequestChargeName</td>
                                    <td> @costpercent.ToString("0.0000")</td>
                                    <td>@Model.spareParts[i].RequestChargeValue %</td>
                                </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-5 col-sm-12">
                        <p class="lead ">Total Amount: <span class=" text-bold-800">Ghc
                            @Model.spareParts.Sum(c => (c.Amount * c.Quantity)+ ((double)c.RequestChargeValue/100)* (c.Amount* c.Quantity) ).ToString("0.0000")
                                </span> 
                        </p>
                    </div>
                </div>
            </div>

            <!--Upload Receipts or Images-->
            @if (@Model.Status == "Pending")
            {

            }
            else if (Model.Status == "Completed")
            {
                <p class="font-weight-bold text-center h3">Photos of Receipts/Spare parts</p>
                <div style="display: flex; grid-gap: 10px; ">
                    <h4 style="color:black">View Files</h4>
                    <ul class="tags">

                        @foreach (var item in Model.ReceiptImages)
                        {
                            //var strBase64 = Convert.ToBase64String(item.DocumentFile);
                            //var FileContent = string.Format("data:application/pdf;base64,{0}", Convert.ToBase64String(item.DocumentFile));
                            <li style="cursor:pointer">
                                <a class="DownloadProjectDocument" onclick="DownloadDocument(@item.ReceiptPhotoStreamFileId)" data-docId='@item.ReceiptPhotoStreamFileId'>Download @item.FileName</a>
                            </li>

                        }
                    </ul>
                </div>
              
 

            }
            else
            {
                <div class="row">
                    <div class="col-12">
                        <div class="card">

                            <div class="card-content collapse show">
                                <div class="card-body">
                                    <p class="card-text" style="text-align:center; font-size:23px">
                                        Upload receipts or pictures of the spare parts
                                    </p>

                                    <form asp-action="UploadReceipts" asp-controller="Request" method="post" enctype="multipart/form-data" style=" height: 200px; border: 1px dashed black; position: relative; cursor: pointer;" class="myCustomDropZone">
                                        <input type="file" asp-for="@Model.ReceiptFiles" multiple id="file-input" style="height: 160px; width: 100%; " />
                                        <input hidden asp-for="@Model.RequestId" />
                                        <div style="padding:20px;">
                                            <div id="preview" style="position: absolute; z-index: 3; top: 20%; display: flex; flex-wrap: wrap; grid-gap: 10px; ">
                                                <p>Click to add Receipts</p>
                                            </div>
                                            <div style=" position: absolute; top: 80%;">
                                                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-floppy-o"></i> Upload</button>
                                            </div>
                                        </div>

                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </section>
</div>

<script src="~/app-assets/vendors/js/vendors.min.js" type="text/javascript"></script>


<script>

    $(document).ready(function () {
        $("form").click(function () {
            $('#file-input').on("change", previewImages);
            //alert("The text has been changed.");
        });

        function previewImages() {
            var $preview = $('#preview').empty();
            if (this.files) $.each(this.files, readAndPreview);

            function readAndPreview(i, file) {
               console.log("picture testing")

                if (!/\.(jpe?g|png|gif)$/i.test(file.name)) {
                    return alert(file.name + " is not an image");
                } // else...

                var reader = new FileReader();

                $(reader).on("load", function () {
                    $preview.append($("<img/>", { src: this.result, height: 100 }));
                });

                reader.readAsDataURL(file);

            }

        }

       $('.DownloadProjectDocument').on('click', function () {
                console.log("Document Clicked!");

            var DocumentStreamId = $(this).attr('data-docId');

            var newwin = window.open("@Url.Action("ViewReceipts", "Request")" + "?DocumentStreamId=" + DocumentStreamId);
            });

    })


</script>

